// body {
//    background-image: url("http://www.merriam-webster.com/top-ten-lists/top-10-unusual-phobias-vol-1/top10_phobia_haphephobia.jpg");
// }

h1 {
  text-align: center;
  color: purple;
}

// used in thumbnails for all users
.other-user-name {
	text-align: center;
}

// there is a problem with cuttin off the last thumbnail in a row
.col-xs-3, .col-sm-3 {
	padding: 0;
}