{{#each users}}
  <div class="col-xs-6 col-md-3">
  	<div class="thumbnail" id="{{@key}}">

	      <img src="{{facebook.profileImageURL}}" alt="{{facebook.displayName}}">
		    <div class="caption">
		      <h3 class="other-user-name">{{facebook.displayName}}</h3>
		      <p class="air-high-five">Air High-Five</p>
		    </div>

	  </div>
  </div>
{{/each}}