<!--user home page-->


	<h3>{{ facebook.displayName }}</h3>
  	<section>{{ quizzes.bio }}</section>


{{!-- <div id="mainUser"class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="{{}}" alt="{{}}">
	    </a>
	  </div>
  	<div class="col-xs-6 col-md-9" id="mainUserInfo">
  		<!-- info goes here -->
  		{{#each Quiz_Results}}
  			{{ dislikes }}
  		{{/each}}
  		{{ quiz responses }}
  	</div>
	</div> --}}

	